.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}


#appHeader {

}

#leftCol {
  position: fixed;
  background-color: rgb(63, 65, 97);
  width: 10%;
  height: 100%;
  left:0;
  overflow-y: hidden;
}

#centreCol {
  position: fixed;
  background-color: rgb(19, 22, 39);
  width: 60%;
  right:30%;
  height: 100%;
  overflow: auto;
}
#rightCol {
  position: fixed;
  background-color: rgb(32, 37, 61);
  width: 30%;
  height: 100%;
  right:0;
  overflow-y: hidden;
}

